
name: EdgeTX Companion rpm

on:
  push:
  pull_request:
  schedule:
    - cron: '23 2 1 * *'
  workflow_dispatch:
    inputs:
      fedora:
        description: Fedora version
        type: string
        default: latest

jobs:
  init:
    name: Select Fedora versions
    runs-on: ubuntu-latest
    outputs:
      fedora: ${{ steps.generate-matrix.outputs.fedora }}
    steps:
      - id: generate-matrix
        run: |
          if [ -n '${{ inputs.fedora }}' ] ; then
            echo 'fedora=[ "${{ inputs.fedora }}" ]'
          elif [ "${{ github.event_name }}" = 'schedule' ] ; then
            echo 'fedora=[ "latest" ]'
          else
            echo 'fedora=[ "rawhide", "latest" ]'
          fi | tee -a $GITHUB_OUTPUT

  build:
    name: Build on Fedora
    runs-on: ubuntu-latest
    needs: [ init ]
    strategy:
      fail-fast: false
      matrix:
        fedora: ${{ fromJSON(needs.init.outputs.fedora ) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: fedora-version
        run: podman run --rm registry.fedoraproject.org/fedora:${{ matrix.fedora }} grep '^VERSION_ID=' /etc/os-release | tee -a $GITHUB_OUTPUT
      - run: mkdir dependencies/rpms
      - run: podman build --from registry.fedoraproject.org/fedora:${{ matrix.fedora }} --security-opt label=disable -v $(pwd)/dependencies/rpms:/root/rpmbuild/RPMS --build-arg=PACKAGE=rust-nusb -f dependencies/Dockerfile .
      - uses: actions/upload-artifact@v6
        with:
          name: rust-nusb-rpms-${{ steps.fedora-version.outputs.VERSION_ID }}
          path: dependencies/rpms/**/rust-nusb*.rpm
      - run: podman build --from registry.fedoraproject.org/fedora:${{ matrix.fedora }} --security-opt label=disable -v $(pwd)/dependencies/rpms:/root/rpmbuild/RPMS --build-arg=PACKAGE=rust-nonempty -f dependencies/Dockerfile .
      - uses: actions/upload-artifact@v6
        with:
          name: rust-nonempty-rpms-${{ steps.fedora-version.outputs.VERSION_ID }}
          path: dependencies/rpms/**/rust-nonempty*.rpm
      - run: podman build --from registry.fedoraproject.org/fedora:${{ matrix.fedora }} --security-opt label=disable -v $(pwd)/dependencies/rpms:/root/rpmbuild/RPMS --build-arg=PACKAGE=rs_dfu -f dependencies/Dockerfile .
      - uses: actions/upload-artifact@v6
        with:
          name: rs_dfu-rpms-${{ steps.fedora-version.outputs.VERSION_ID }}
          path: dependencies/rpms/**/rs_dfu*.rpm
      - name: Build source container image
        run: podman build --from registry.fedoraproject.org/fedora:${{ matrix.fedora }} --security-opt label=disable -v $(pwd)/dependencies/rpms:/src/dependencies/RPMS -t localhost/edgetx-builder -f .github/Dockerfile .
      - run: mkdir -p rpmbuild/SRPMS
      - name: Build the srpm
        run: podman run --rm --name edgetx-builder -v $(pwd)/rpmbuild:/root/rpmbuild:Z --network=none localhost/edgetx-builder bash -c '( rpm -Uvh *.src.rpm && rpmbuild -bs ~/rpmbuild/SPECS/*.spec ) || ( cp *.src.rpm ~/rpmbuild/SRPMS/ && exit 1 )'
      - run: find rpmbuild/SRPMS
      - run: |
          srpm_path=$( find rpmbuild/SRPMS -type f )
          echo "srpm_path=$srpm_path" >> $GITHUB_ENV
          echo "srpm_name=$( basename $srpm_path )" >> $GITHUB_ENV
        if: always()
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.srpm_name }}
          path: ${{ env.srpm_path }}
        if: always()
      - name: Build the rpm
        run: podman run --rm --name edgetx-builder -v $(pwd)/rpmbuild:/root/rpmbuild:Z --network=none localhost/edgetx-builder bash -c 'rpm -Uvh ~/rpmbuild/SRPMS/*.src.rpm && rpmbuild -bb ~/rpmbuild/SPECS/*.spec'
      - run: find rpmbuild/RPMS
      - run: |
          rpm_path=$( find rpmbuild/RPMS -type f | grep -v debug )
          echo "rpm_path=$rpm_path" >> $GITHUB_ENV
          echo "rpm_name=$( basename $rpm_path )" >> $GITHUB_ENV
        if: always()
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.rpm_name }}
          path: ${{ env.rpm_path }}

