
name: EdgeTX Companion rpm

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build EdgeTX Companion rpm
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - registry.fedoraproject.org/fedora:rawhide
          - registry.fedoraproject.org/fedora:43
          - registry.fedoraproject.org/fedora:42
          - registry.fedoraproject.org/fedora:41
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build source container image
        run: podman build --from ${{ matrix.os }} -t localhost/edgetx-builder -f .github/Dockerfile .
      - run: mkdir -p rpmbuild/SRPMS
      - name: Build the rpm
        run: podman run --rm --name edgetx-builder -v $(pwd)/rpmbuild:/root/rpmbuild --network=none localhost/edgetx-builder bash -c '( rpm -Uvh *.src.rpm && rpmbuild -ba ~/rpmbuild/SPECS/*.spec ) || ( cp *.src.rpm ~/rpmbuild/SRPMS/ && exit 1 )'
      - run: find rpmbuild/SRPMS rpmbuild/RPMS
      - run: |
          srpm_path=$( find rpmbuild/SRPMS -type f )
          echo "srpm_path=$srpm_path" >> $GITHUB_ENV
          echo "srpm_name=$( basename $srpm_path )" >> $GITHUB_ENV
          rpm_path=$( find rpmbuild/RPMS -type f | grep -v debug )
          echo "rpm_path=$rpm_path" >> $GITHUB_ENV
          echo "rpm_name=$( basename $rpm_path )" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.srpm_name }}
          path: ${{ env.srpm_path }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.rpm_name }}
          path: ${{ env.rpm_path }}

